@font-face {
  font-family: 'Insaniburger'; 
  src: url('Insanibu.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
                

body {
  color: #753bbd;
  font-family: 'Insaniburger';
  font-size: 16px;
  /* font-weight: 800; */
  background-image: url("../img/bgg.webp");
  background-size: 100%;
  background-repeat: repeat-y;

  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.glow{
 
  border:0px solid white;
  border-radius:1rem;
  position:relative;
  background-color:rgb(255, 255, 255);
  
}

:root{
  --azul:rgb(255, 0, 106);
  --violeta: rgb(63, 16, 204);
  --blanco: white;
  --deg:0deg;
    
}
@property --deg{
  syntax:'<angle>';
  inherits:false;
  initial-value:0deg;
}
.glow::after{
  
  content:'';
  border-radius:inherit;
  inset:-0.5rem;
  background-color:Red;
  position:absolute;
  z-index:-1;
  background:conic-gradient( from var(--deg),var(--azul),var(--violeta),var(--azul));
  animation:girar 5s linear infinite;
}

.glow::before{
  filter:blur(40px);
  --deg:0deg;
  content:'';
  border-radius:inherit;
  inset:-1.0rem;
  background-color:Red;
  position:absolute;
  z-index:-1;
  background:conic-gradient( from var(--deg),var(--azul),var(--violeta),var(--azul));
  animation:girar 5s linear infinite;
}


@keyframes girar {
  from{
    --deg:0deg;
  }
  
  to{
    --deg:360deg;
  }
}
.scrollframe{
  border:10px  purple;
  border-radius: 30px;
  background-color: white;
}

/* .loader {
  
  width: 48px;
  height: 48px;
  background: #353535;
  display: block;
  margin: 72px 0 72px;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 1s ease-in-out infinite reverse;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 48px;
  height: 48px;
  background: #2e2e2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
} */

/* ------------- */

.loader {
  margin: 72px 0 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}

/* ------------------ */

.scrollable-frame {
  height: calc(100vh - 350px); /* Adjust the height as needed */
  overflow-y: auto;
  border-radius:1rem;
  
}

.scrollable-frame::-webkit-scrollbar {
  
  width: 10px;
  background-color: #F5F5F5;
  border-radius: 10px;
  
}


.scrollable-frame::-webkit-scrollbar-thumb {
  background-color: #F90;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}




@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

header {
  background: url(../img/header.webp);
  background-size: cover;
  background-position: center;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 10px auto 0;
}

footer {
  overflow-x: hidden;
  flex-shrink: 0;
}

.footer__img {
  width: 100%;
  height: auto;
}

.container {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 10px 0px;

  flex: 1 0 auto;
}

.first-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.first-page__img {
  height: auto !important;
  margin-bottom: 10px;
  padding-top: 10px;
}
.first-page__text {
  font-size: 24px;
  text-align: center;
}
.first-page__winners {
  display: flex;
  flex-wrap: wrap;
  /* margin: 20px 0px; */
  justify-content: center;
  width: 100%;
}
.first-page__title {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  color: #ededed;
}
.first-page__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 652px;
  margin: 6px auto;
}
.first-page__content-item {
  border: 2px solid #753bbd;
  border-radius: 10%;
  cursor: pointer;
  margin: 0px auto 20px;
  text-align: center;
  width: 148px;
}

.item__text {
  letter-spacing: 0.5px;
  /* background: #753bbd; */
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  padding: 5px 0px;
  color: white;
  border-radius: 100px;
}

.winners__item {
  align-items: center;
  border-radius: 5px;
  background: #FBEAD0;
  display: flex;
  margin-right: 20px;
  opacity: 1;
  padding: 5px;
  transition: opacity 0.4s ease-in-out;
}
.winners__item:last-child {
  margin-right: 0px;
}
.winners__item-title {
  display: flex;
  flex-direction: column;
  font-family: "Insaniburger";
  margin-left: 5px;
  padding: 5px 5px 5px 0px;
}
.winners__item-title--top {
  color: #990040;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.winners__item-title--bottom {
  color: #4D4D4D;
  font-size: 12px;
}

@media screen and (max-width: 640px) {
  .first-page__content {
    max-width: 504px;
  }
  body{
    background-size: 200%;
    background-repeat: repeat-y;
    background-position: center;
  }
}
@media screen  and (max-width: 490px) {
  .first-page__content {
    max-width: 356px;
  }
  .winners__item-img {
    height: 32px;
    width: 32px;
  }
  .winners__item-title--top {
    margin-bottom: 2px;
  }
  body{
    background-size: 200%;
    background-position: center;
        background-repeat: repeat-y;
  }
}
@media screen  and (max-width: 410px) {
  .winners__item {
    margin: 0px auto 10px !important;
  }
  .first-page__winners {
    max-width: 280px;
    margin: 0px auto px;
  }
  body{
    background-size: 200%;
        background-repeat: repeat-y;
        background-position: center;
  }
}
@media screen  and (max-width: 335px) {
  .first-page__content {
    max-width: 148px;
  }
  body{
    background-size: 200%;
        background-repeat: repeat-y;
        background-position: center;
  }
}
@media screen  and (max-width: 490px) {
  .winners__item {
    margin: 0px auto;
  }
  body{
    background-size: 200%;
        background-repeat: repeat-y;
        background-position: center;
  }
}
.second-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.second-page__bottom-block {
  padding-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
.second-page__bottom-block.up {
  animation: up 1.3s;
}
.second-page__bottom-block.scale {
  animation: scale 0.4s;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
@media (max-width: 490px) and (-webkit-min-device-pixel-ratio:0) {
  .first-page__content {
    max-width: 356px;
  }
  .winners__item-img {
    height: 32px;
    width: 32px;
  }
  .winners__item-title--top {
    margin-bottom: 2px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
.greentext{
  color: green;
}
.yellowtext{
  color:yellow;
}
.successText{
  color: greenyellow;
 }

.loadlast {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
.loadlast.up {
  animation: up 1.3s;
}
.loadlast.scale {
  animation: scale 0.4s;
}

.goods-img {
  animation: scale 0.4s;
  border: 2px solid #753bbd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #7fcad1;
  position: relative;
  text-align: center;
  margin: 0px 2px;
  height: 148px;
  width: 148px;
}
.goods-img__text {
  background: #753bbd;
  border-radius: 0px 0px 5px 5px;
  padding: 5px 0px;
  color: white;
}
.goods-img--user {
  background: #ffffff;
}
.goods-img--user img {
  height: 85%;
}
.goods-img--user p {
  bottom: 0;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  left: 0;
  width: 100%;
}

.bottom-block__title {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  padding-top: 20px !important; 
  margin-bottom: 20px;
  color: #ededed;
  letter-spacing: 2px;
}


.bottom-block__input {
  
  background-color: #ededed;
  border-radius: 25px;
  padding: 0px 5px 0px 25px;
  position: relative;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
}
.bottom-block__error {
  margin-bottom: 5px;
  color: #ff0000;
}
.bottom-block__btn {
  letter-spacing: .1em;
  background: #ff147a;
  border-radius: 25px;
  color: white;
  font-weight: 800;
  font-size: 18px;
  height: 40px;
  width: 280px;
}
.bottom-block__btn--disagree {
  background: #bdbdbb;
  margin-top: 10px;
}
.bottom-block__btn.scale {
  animation: verify 1s;
}
.bottom-block__images {
  display: flex;
  margin-bottom: 30px;
  
  
}
.bottom-block__cities-text {
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.bottom-block__cities-text.up {
  animation: up_2 1s;
}
.bottom-block__cities-img {
  animation: rotate 3s infinite ease-in-out;
  margin: 10px 0px;
  height: 50px;
  width: 50px;
}
.bottom-block__cities-img.up {
  animation: up_2 1s;
}
.bottom-block__cities-img.rotate_fast {
  animation: rotate 1.5s infinite ease-in-out;
}

.first-page,
.second-page {
  width: 100%;
}

.block {
  position: relative;
  margin: 30px 0px 28px;
}

#verify-btn {
  animation: verify 2s linear infinite;
  z-index: 1;
}
#verify-btn-span {
  animation: hug 2s linear infinite;
  background: #ffb9d7;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 40px;
  z-index: 0;
}

@media (max-width: 780px){
  .footer__img {
    width: 200%;
    height: auto;
  }
}

@keyframes hug {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scaleY(1.5) scaleX(1.2);
    opacity: 0;
  }
}
@keyframes verify {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes up_2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.hide {
  display: none;
}



/* ------------------------------------------ */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
 }
 /* background-color: #ededed;
    border-radius: 25px;
    padding: 0px 5px 0px 25px;
    position: relative;
    
    height: 50px;
    width: 300px; */
 .input {
  
  
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 25px;
  outline: none;
  background-color: #ededed;
  color: #0d0c22;
  transition: .3s ease;
  height: 50px;
    width: 300px;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 