@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@font-face {
  font-family: "Burbank";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/BurbankBigRegular-Black.woff2") format("woff2"), url("../fonts/BurbankBigRegular-Black.woff") format("woff");
}

@font-face {font-family:"new-rubrik";src:url("https://use.typekit.net/af/2cf326/00000000000000007735fea1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2cf326/00000000000000007735fea1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2cf326/00000000000000007735fea1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;}@font-face {font-family:"new-rubrik";src:url("https://use.typekit.net/af/eb12df/00000000000000007735fea3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/eb12df/00000000000000007735fea3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/eb12df/00000000000000007735fea3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;}@font-face {font-family:"new-rubrik";src:url("https://use.typekit.net/af/c68365/00000000000000007735fe9b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c68365/00000000000000007735fe9b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c68365/00000000000000007735fe9b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;}@font-face {font-family:"new-rubrik";src:url("https://use.typekit.net/af/606776/00000000000000007735fea4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/606776/00000000000000007735fea4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/606776/00000000000000007735fea4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;}.tk-new-rubrik{font-family:"new-rubrik",sans-serif;}


@font-face {
  font-family: "Insaniburger";
  src: url("https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.eot");
  src: url("https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.svg#Insaniburger")format("svg");
}
                

body {
  color: #753bbd;
  font-family: 'Insaniburger';
  font-size: 16px;
  /* font-weight: 800; */

  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.loader {
  
  width: 48px;
  height: 48px;
  background: #353535;
  display: block;
  margin: 72px 0 72px;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 1s ease-in-out infinite reverse;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 48px;
  height: 48px;
  background: #2e2e2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

header {
  background: url("../img/header.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  overflow-x: hidden;
  flex-shrink: 0;
}

.footer__img {
  width: 100%;
  height: auto;
}

.container {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px 10px 0px;

  flex: 1 0 auto;
}

.first-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.first-page__img {
  margin-bottom: 10px;
  padding-top: 10px;
}
.first-page__text {
  font-size: 24px;
  text-align: center;
}
.first-page__winners {
  display: flex;
  flex-wrap: wrap;
  /* margin: 20px 0px; */
  justify-content: center;
  width: 100%;
}
.first-page__title {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}
.first-page__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 652px;
  margin: 0px auto;
}
.first-page__content-item {
  border: 2px solid #753bbd;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px auto 20px;
  text-align: center;
  width: 148px;
}

.item__text {
  letter-spacing: 0.5px;
  background: #753bbd;
  padding: 5px 0px;
  color: white;
}

.winners__item {
  align-items: center;
  border-radius: 5px;
  background: #f9dba9;
  display: flex;
  margin-right: 20px;
  opacity: 1;
  padding: 5px;
  transition: opacity 0.4s ease-in-out;
}
.winners__item:last-child {
  margin-right: 0px;
}
.winners__item-title {
  display: flex;
  flex-direction: column;
  font-family: "Insaniburger";
  margin-left: 5px;
  padding: 5px 5px 5px 0px;
}
.winners__item-title--top {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.winners__item-title--bottom {
  color: #797979;
  font-size: 12px;
}

@media only screen and (max-width: 640px) {
  .first-page__content {
    max-width: 504px;
  }
}
@media  only screen and (max-width: 490px) {
  .first-page__content {
    max-width: 356px;
  }
  .winners__item-img {
    height: 32px;
    width: 32px;
  }
  .winners__item-title--top {
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 410px) {
  .winners__item {
    margin: 0px auto 10px !important;
  }
  .first-page__winners {
    max-width: 280px;
    margin: 0px auto 0px;
  }
}
@media only screen and (max-width: 335px) {
  .first-page__content {
    max-width: 148px;
  }
}
@media only screen and (max-width: 490px) {
  .winners__item {
    margin: 0px auto;
  }
}
.second-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.second-page__bottom-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
.second-page__bottom-block.up {
  animation: up 1.3s;
}
.second-page__bottom-block.scale {
  animation: scale 0.4s;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

.successText{
  color: green;
 }

.loadlast {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
.loadlast.up {
  animation: up 1.3s;
}
.loadlast.scale {
  animation: scale 0.4s;
}

.goods-img {
  animation: scale 0.4s;
  border: 2px solid #753bbd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #7fcad1;
  position: relative;
  text-align: center;
  margin: 0px 10px;
  height: 148px;
  width: 148px;
}
.goods-img__text {
  background: #753bbd;
  border-radius: 0px 0px 5px 5px;
  padding: 5px 0px;
  color: white;
}
.goods-img--user {
  background: #ffffff;
}
.goods-img--user img {
  height: 85%;
}
.goods-img--user p {
  bottom: 0;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  left: 0;
  width: 100%;
}

.bottom-block__title {
  font-weight: 800;
  font-size: 24px;
  /* padding-top: 20px; */
  margin-bottom: 20px;
}


.bottom-block__input {
  
  background-color: #ededed;
  border-radius: 25px;
  padding: 0px 5px 0px 25px;
  position: relative;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
}
.bottom-block__error {
  margin-bottom: 5px;
  color: #ff0000;
}
.bottom-block__btn {
  letter-spacing: .1em;
  background: #ff147a;
  border-radius: 25px;
  color: white;
  font-weight: 800;
  font-size: 18px;
  height: 40px;
  width: 280px;
}
.bottom-block__btn--disagree {
  background: #bdbdbb;
  margin-top: 10px;
}
.bottom-block__btn.scale {
  animation: verify 1s;
}
.bottom-block__images {
  display: flex;
  margin-bottom: 30px;
}
.bottom-block__cities-text {
  color: #000000;
  
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.bottom-block__cities-text.up {
  animation: up_2 1s;
}
.bottom-block__cities-img {
  animation: rotate 3s infinite ease-in-out;
  margin: 10px 0px;
  height: 50px;
  width: 50px;
}
.bottom-block__cities-img.up {
  animation: up_2 1s;
}
.bottom-block__cities-img.rotate_fast {
  animation: rotate 1.5s infinite ease-in-out;
}

.first-page,
.second-page {
  width: 100%;
}

.block {
  position: relative;
  margin: 30px 0px 28px;
}

#verify-btn {
  animation: verify 2s linear infinite;
  z-index: 1;
}
#verify-btn-span {
  animation: hug 2s linear infinite;
  background: #ffb9d7;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 40px;
  z-index: 0;
}

@media (max-width: 780px){
  .footer__img {
    width: 200%;
    height: auto;
  }
}

@keyframes hug {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scaleY(1.5) scaleX(1.2);
    opacity: 0;
  }
}
@keyframes verify {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes up_2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.hide {
  display: none;
}



/* ------------------------------------------ */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
 }
 /* background-color: #ededed;
    border-radius: 25px;
    padding: 0px 5px 0px 25px;
    position: relative;
    
    height: 50px;
    width: 300px; */
 .input {
  
  
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 25px;
  outline: none;
  background-color: #ededed;
  color: #0d0c22;
  transition: .3s ease;
  height: 50px;
    width: 300px;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 