*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    margin: 0;
    width: 100%;
    height: 100%
}

body {
    background-color: #2a2a2a;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    line-height: 1.42857143;
    color: #333
}

body * {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1
}

.ldr {
    display: none;
    justify-content: center;
    align-items: center;
    --color: hsl(0, 0%, 87%);
    --animation: 2s ease-in-out infinite
}

.ldr .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 2px var(--color);
    border-radius: 50%;
    margin: 0 10px;
    background-color: transparent;
    animation: circle-keys var(--animation)
}

.ldr .circle .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color);
    animation: dot-keys var(--animation)
}

.ldr .circle .outline {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: outline-keys var(--animation)
}

.circle:nth-child(2) {
    animation-delay: .3s
}

.circle:nth-child(3) {
    animation-delay: .6s
}

.circle:nth-child(4) {
    animation-delay: .9s
}

.circle:nth-child(5) {
    animation-delay: 1.2s
}

.circle:nth-child(2) .dot {
    animation-delay: .3s
}

.circle:nth-child(3) .dot {
    animation-delay: .6s
}

.circle:nth-child(4) .dot {
    animation-delay: .9s
}

.circle:nth-child(5) .dot {
    animation-delay: 1.2s
}

.circle:nth-child(1) .outline {
    animation-delay: .9s
}

.circle:nth-child(2) .outline {
    animation-delay: 1.2s
}

.circle:nth-child(3) .outline {
    animation-delay: 1.5s
}

.circle:nth-child(4) .outline {
    animation-delay: 1.8s
}

.circle:nth-child(5) .outline {
    animation-delay: 2.1s
}

@keyframes circle-keys {
    0% {
        transform: scale(1);
        opacity: 1
    }

    50% {
        transform: scale(1.5);
        opacity: .5
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes dot-keys {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes outline-keys {
    0% {
        transform: scale(0);
        outline: solid 20px var(--color);
        outline-offset: 0;
        opacity: 1
    }

    100% {
        transform: scale(1);
        outline: solid 0 transparent;
        outline-offset: 20px;
        opacity: 0
    }
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px
    }

    100%,
    50% {
        top: 24px;
        height: 32px
    }
}

.verify {
    transition: .3s;
    animation: enlarge 3s;
    -webkit-animation: enlarge 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.errorMsg {
    text-align: center;
    display: none
}

@keyframes enlarge {
    0% {
        transform: scale(.8)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(.8)
    }
}

.status {
    display: none
}

.errorText {
    color: #d13333
}

#wrapper,
#wrapper>div {
    height: 100%
}

#wrapper {
    background-color: #2a2a2a
}

.generate_main_platform {
    margin-bottom: 50px;
    text-align: center
}

.generate_main_platform h1 {
    margin: 10px auto 10px auto;
    text-align: center;
    color: #fff;
    font-size: 28px !important
}

.generate_main_platform ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.bk-img {
    background-image: url(http://receivepets.com/assets/img/bgg.png);
    background-size: 100%;
    background-repeat: repeat-y
}

@media (max-width:991px) {
    .bk-img {
        background-size: 200%;
        background-repeat: repeat-y
    }
}

.holderInput {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 350px;
    margin: auto
}

.icon {
    border-radius: 25px 0 0 25px;
    border-bottom: #e81f76 3px solid;
    border-top: #e81f76 3px solid;
    border-left: #e81f76 3px solid;
    background: #fff;
    font-size: 23px;
    font-weight: 400;
    line-height: 1;
    color: #757575;
    text-align: center;
    padding: 5px 0 5px 15px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell
}



body {
    font-family: Burbank, sans-serif;
    color: #fff;
    font-size: 32px;
/*     background-image: url(http://receivepets.com/img/bg.html); */
    background-position: top center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%
}

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

header,
main,
menu,
nav,
section {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b {
    font-weight: 700
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

small {
    font-size: 80%
}

img {
    border: 0
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
select {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {

    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }

    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }

    .label {
        border: 1px solid #000
    }
}



*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,
input,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

[role=button] {
    cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h5,
h5 {
    font-size: 14px
}

.h6,
h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.small,
small {
    font-size: 85%
}

.text-center {
    text-align: center
}

.text-primary {
    color: #337ab7
}

a.text-primary:focus,
a.text-primary:hover {
    color: #286090
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul {
    margin-bottom: 0
}

code {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

code {
    padding: 2px 4px;
    font-size: 90%
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple],
select[size] {
    height: auto
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

input[type=search] {
    -webkit-appearance: none
}

input[type=checkbox][disabled],
input[type=radio][disabled] {
    cursor: not-allowed
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn[disabled] {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}

.btn-primary:active,
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

.btn-primary:active {
    background-image: none
}

.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-link {
    font-weight: 400;
    color: #337ab7;
    border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    border-color: transparent
}

.btn-link:focus,
.btn-link:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover {
    color: #777;
    text-decoration: none
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
    width: 100%
}

[data-toggle=buttons]>.btn input[type=checkbox],
[data-toggle=buttons]>.btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

a.label:focus,
a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label:empty {
    display: none
}

.btn .label {
    position: relative;
    top: -1px
}

.label-primary {
    background-color: #337ab7
}

.label-primary[href]:focus,
.label-primary[href]:hover {
    background-color: #286090
}

@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

.media {
    margin-top: 15px
}

.media:first-child {
    margin-top: 0
}

.media,
.media-body {
    overflow: hidden;
    zoom: 1
}

.media-body {
    width: 10000px
}

.media-body {
    display: table-cell;
    vertical-align: top
}

.media-bottom {
    vertical-align: bottom
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.nav:after,
.nav:before {
    display: table;
    content: " "
}

.clearfix:after,
.container:after,
.nav:after {
    clear: both
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

body {
    margin: 0
}





[class*=" eg-header-icon-"],
[class^=eg-header-icon-] {
    font-family: eg-header-icomoon;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



[class*=" eg-footer-icon-"],
[class^=eg-footer-icon-] {
    font-family: eg-footer-icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga", normal, "dlig", normal, "dlig";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    background-color: #2a2a2a;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility
}





[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga", normal, "dlig";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-constructor:before {
    content: "\E903"
}

.icon-menu:before {
    content: "\E9BD"
}

.icon-x:before {
    content: "\E913"
}

.icon-close:before {
    content: "\E914"
}

.icon-notification:before {
    content: "\EA08"
}

.icon-google:before {
    content: "\E910"
}

@-webkit-keyframes jiggle {

    0%,
    14% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    2% {
        -webkit-transform: scaleY(.9);
        transform: scaleY(.9)
    }

    8% {
        -webkit-transform: scale(.9, 1.1) translateY(-5px);
        transform: scale(.9, 1.1) translateY(-5px)
    }

    11% {
        -webkit-transform: scale(1) translateY(-3px);
        transform: scale(1) translateY(-3px)
    }
}

@keyframes jiggle {

    0%,
    14% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    2% {
        -webkit-transform: scaleY(.9);
        transform: scaleY(.9)
    }

    8% {
        -webkit-transform: scale(.9, 1.1) translateY(-5px);
        transform: scale(.9, 1.1) translateY(-5px)
    }

    11% {
        -webkit-transform: scale(1) translateY(-3px);
        transform: scale(1) translateY(-3px)
    }
}

@-webkit-keyframes jelly {
    0% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }

    50% {
        -webkit-transform: matrix3d(1.0593, 0, -.1, .00025, 0, .9603, .1, -.0001, .1, -.1, .9801, 0, 0, -3, 0, 1);
        transform: matrix3d(1.0593, 0, -.1, .00025, 0, .9603, .1, -.0001, .1, -.1, .9801, 0, 0, -3, 0, 1)
    }

    to {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

@keyframes jelly {
    0% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }

    50% {
        -webkit-transform: matrix3d(1.0593, 0, -.1, .00025, 0, .9603, .1, -.0001, .1, -.1, .9801, 0, 0, -3, 0, 1);
        transform: matrix3d(1.0593, 0, -.1, .00025, 0, .9603, .1, -.0001, .1, -.1, .9801, 0, 0, -3, 0, 1)
    }

    to {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }

    50% {
        -webkit-transform: translateY(.4em);
        transform: translateY(.4em)
    }

    to {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }

    50% {
        -webkit-transform: translateY(.4em);
        transform: translateY(.4em)
    }

    to {
        -webkit-transform: translateY(.1em);
        transform: translateY(.1em)
    }
}

@-webkit-keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    50% {
        -webkit-transform: scale(1.03) translateY(-50%);
        transform: scale(1.03) translateY(-50%)
    }

    to {
        -webkit-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%)
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(.9) translateY(-50%);
        transform: scale(.9) translateY(-50%)
    }

    50% {
        -webkit-transform: scale(1.03) translateY(-50%);
        transform: scale(1.03) translateY(-50%)
    }

    to {
        -webkit-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%)
    }
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    65% {
        -webkit-transform: translateY(2em);
        transform: translateY(2em)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    65% {
        -webkit-transform: translateY(2em);
        transform: translateY(2em)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes shadow-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
    }

    to {
        -webkit-box-shadow: 0 0 0 35px transparent;
        box-shadow: 0 0 0 35px transparent
    }
}

@keyframes shadow-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
    }

    to {
        -webkit-box-shadow: 0 0 0 35px transparent;
        box-shadow: 0 0 0 35px transparent
    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }

    to {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }

    to {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@-webkit-keyframes bounce-in-from-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: scale(.84);
        transform: scale(.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes bounce-in-from-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: scale(.7);
        transform: scale(.7);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: scale(.84);
        transform: scale(.84);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    89% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@-webkit-keyframes bounce-in-from-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes bounce-in-from-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

body * {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1
}

body>#contentWrapper,
html,
html>body {
    background-color: #2a2a2a !important
}

body>#contentWrapper * :focus,
html * :focus,
html>body * :focus {
    outline: 0
}

a:active,
a:focus,
a:hover {
    outline: 0;
    text-decoration: none
}

#contentWrapper,
#contentWrapper>div {
    height: 100%
}

.wrapper {
    overflow: hidden
}

.wrapper h1.site-block-page-title {
    margin-top: 0;
    padding: 2em 0;
    text-transform: uppercase;
    color: #fff;
    text-align: center
}

@media only screen and (max-width:767px) {
    .wrapper h1.site-block-page-title {
        padding: 1em 0;
        font-size: 2em
    }
}

.wrapper .site-block {
    padding: 2em;
    color: #1e1e1e;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    max-width: 80%;
    margin: 1em auto;
    text-align: left
}

@media only screen and (max-width:767px) {
    .wrapper .site-block {
        margin: .5em
    }
}

.wrapper .site-block .site-block-header {
    padding-bottom: 1em;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 2em
}

.wrapper .site-block .site-block-header .site-block-title {
    margin-bottom: .5em;
    margin-top: .4em;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center
}

.wrapper,
.wrapper>div {
    position: relative
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
    font-family: Insaniburger;
    text-transform: uppercase
}

.wrapper h1 {
    font-size: 2.75em;
    line-height: 85%
}

@media only screen and (max-width:1199px) {
    .wrapper h1 {
        font-size: 2em
    }
}

.wrapper h2 {
    font-size: 1.875em;
    line-height: 85%
}

@media only screen and (max-width:1199px) {
    .wrapper h2 {
        font-size: 1.25em
    }
}

.wrapper h3 {
    font-size: 1.375em
}

.wrapper h4 {
    font-size: 1.125em
}

.wrapper h5 {
    font-size: 1em
}

.wrapper h6 {
    font-size: .875em
}

.wrapper hr {
    border-top: 1px solid #b3b3b3
}

.wrapper a,
.wrapper p,
.wrapper ul {
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    font-size: .9em;
    line-height: 1.75
}

.wrapper a {
    color: #1db8f3;
    text-decoration: none;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out
}

.wrapper a:hover {
    color: #0cadea
}

.wrapper .btn {
    position: relative;
    border: 0;
    line-height: 2;
    z-index: 1;
    font-family: Insaniburger;
    font-size: 1em;
    text-transform: uppercase;
    padding: .25em 1em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    letter-spacing: 0
}

.wrapper .btn.btn-block {
    display: block
}

.wrapper .btn.btn-border {
    background-image: url('data:image/svg+xml;charset=utf-8,SVG_REPLACED');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: 50%;
    font-size: 1.875em
}

.wrapper .btn.btn-border,
.wrapper .btn.btn-border span {
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.wrapper .btn.btn-border:hover {
    background-image: url('data:image/svg+xml;charset=utf-8,SVG_REPLACED')
}

.wrapper .btn.btn-border:hover span {
    color: #ff0
}

@media only screen and (max-width:767px) {
    .wrapper .btn.btn-border {
        padding: .25em 1em
    }
}

.wrapper .btn.btn-display {
    position: relative;
    font-size: 1.5em;
    padding: 0 1.5em;
    color: #000;
    margin-top: .5em;
    background: 0 0
}

.wrapper .btn.btn-display span {
    position: relative;
    z-index: 1
}

.wrapper .btn.btn-display:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background-color: #ff0;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    -webkit-box-shadow: 0 4px 12px -4px rgba(0, 0, 0, .5);
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, .5);
    -webkit-animation: jelly 6s ease-in-out infinite;
    animation: jelly 6s ease-in-out infinite;
    -webkit-transform-origin: 50% 50% 20px;
    -ms-transform-origin: 50% 50% 20px;
    transform-origin: 50% 50% 20px
}

.wrapper .btn.btn-display:hover:after {
    background-color: #e6e600
}

.wrapper .btn.btn-primary.btn-primary {
    font-size: 2.5em;
    color: #000 !important;
    background-color: #ff0 !important;
    padding: 0 1.5em;
    text-decoration: none;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease
}

.wrapper .btn.btn-primary:hover {
    background-color: #dcdc00 !important
}

.wrapper .btn>span {
    pointer-events: none
}

.wrapper .no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important
}

@font-face {
    font-family: Insaniburger;
    src: url(https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.eot);
    src: url(https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.eot?#iefix) format("embedded-opentype"), url(https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.woff2) format("woff2"), url(https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.woff) format("woff"), url(https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.ttf) format("truetype"), url(https://db.onlinewebfonts.com/t/4124a6204d35abaf22db32c19d62d73e.svg#Insaniburger) format("svg")
}

.it .wrapper h1 {
    line-height: 1
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@media only screen and (device-width:768px),
only screen and (device-width:1024px) {
    .validateStage {
        width: 90%
    }
}
